<html>
<title>Categorization Experiments</title>

<head>
	<!-- Include the required JavaScript libraries: -->
    <script type="text/javascript" src="/js/jqwidgets-ver2.4.2/scripts/jquery-1.8.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
	
</head>

<body bgcolor="#E8E8E8">
	<form action="/interface3" method="POST">
			<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Categorize product items from Amazon</h1>

		<div class="landingbox">
			<div class="instructionsbox"><h3>Instructions:</h3><p align="justify">You will be shown an interface for categorizing Amazon shopping items. The interface will have an image of the product along with its name. Your task is to pick the most relevant category/categories (mark all that apply) for this item. <br/><br/> The categories will appear as wordclouds. By looking at the words inside, select the most suitable (one or more) wordcloud that apply to the product. Below is an example. </p> </div>
			
			<br/>
			
			<div class="allexamples">
				<h3>Example:</h3>
				
				<br/><br/><img src="/images/eg3.png" alt="eg1" border="0" width="95%" height="95%" style="vertical-align: middle;"><br/><br/>
			</div><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
			<input class="input-rounded-button" type="submit" value=" Proceed To Task ">
		</div>
	</form>
</body>
      
</html>
